@import url("https://fonts.cdnfonts.com/css/espn");

body {
  margin: 0 auto;
  max-width: 720px;
  font-size: 18px;
}

h1 {
  text-align: center;
  color: red;
  font-family: "ESP_Bold", sans-serif;
}

.largeText {
  font-size: 24px;
}

.boldText {
  font-weight: bold;
}

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid;
}

th {
  background-color: #e0effe;
}

td {
  padding-left: 10px;
}

ul {
  list-style: none;
}
