{% extends "base.html" %} {% block content %}
<h2>top 3 Dutch Eredivisie Table 2023-24</h2>

<table>
  <tr>
    <th>2023-2024</th>
    <th>GP</th>
    <th>W</th>
    <th>D</th>
    <th>L</th>
    <th>F</th>
    <th>A</th>
    <th>GD</th>
    <th>P</th>
  </tr>
  <tr>
    <td>AZ Alkmaar</td>
    <td>3</td>
    <td>3</td>
    <td>0</td>
    <td>0</td>
    <td>10</td>
    <td>2</td>
    <td>+8</td>
    <td>9</td>
  </tr>
  <tr>
    <td>PSV Eindhoven</td>
    <td>3</td>
    <td>3</td>
    <td>0</td>
    <td>0</td>
    <td>9</td>
    <td>2</td>
    <td>+8</td>
    <td>9</td>
  </tr>
  <tr>
    <td>FC Twente</td>
    <td>3</td>
    <td>3</td>
    <td>0</td>
    <td>0</td>
    <td>13</td>
    <td>4</td>
    <td>+7</td>
    <td>9</td>
  </tr>
</table>
{% endblock content %}
