{% extends "base.html" %} {% block content %}
<h2>top 3 English Premier League Table 2023-24</h2>
<ul>
  <li>Manchester City</li>
  <li>Tottenham Hotspur</li>
  <li>Liverpool</li>
</ul>

<table>
  <tr>
    <th>2023-2024</th>
    <th>GP</th>
    <th>W</th>
    <th>D</th>
    <th>L</th>
    <th>F</th>
    <th>A</th>
    <th>GD</th>
    <th>P</th>
  </tr>
  <tr>
    <td>Manchester City</td>
    <td>3</td>
    <td>3</td>
    <td>0</td>
    <td>0</td>
    <td>10</td>
    <td>2</td>
    <td>+8</td>
    <td>9</td>
  </tr>
  <tr>
    <td>Tottenham Hotspur</td>
    <td>3</td>
    <td>3</td>
    <td>0</td>
    <td>0</td>
    <td>10</td>
    <td>2</td>
    <td>+8</td>
    <td>9</td>
  </tr>
  <tr>
    <td>Liverpool</td>
    <td>3</td>
    <td>3</td>
    <td>0</td>
    <td>0</td>
    <td>10</td>
    <td>2</td>
    <td>+8</td>
    <td>9</td>
  </tr>
</table>

{% endblock content %}
