{% extends "base.html" %} {% block content %}
<h2>top 3 English Premier League Table 2023-24</h2>
<table>
  <tr>
    <th>2023-2024</th>
    <th>GP</th>
    <th>W</th>
    <th>D</th>
    <th>L</th>
    <th>F</th>
    <th>A</th>
    <th>GD</th>
    <th>P</th>
  </tr>
  <tr>
    <td>Manchester City</td>
    <td>4</td>
    <td>4</td>
    <td>0</td>
    <td>0</td>
    <td>11</td>
    <td>2</td>
    <td>+9</td>
    <td>12</td>
  </tr>
  <tr>
    <td>Tottenham Hotspur</td>
    <td>4</td>
    <td>3</td>
    <td>1</td>
    <td>0</td>
    <td>11</td>
    <td>4</td>
    <td>+7</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Liverpool</td>
    <td>4</td>
    <td>3</td>
    <td>1</td>
    <td>0</td>
    <td>9</td>
    <td>3</td>
    <td>+6</td>
    <td>10</td>
  </tr>
</table>

{% endblock content %}
